.form-heading
  %h2 Employees
  - if can? :edit, User
    .align.align-right
      %h5.btn{id: 'show'} Show All
      %h5.btn{id:'downloadbton'}Download
      %h5{id: 'show_text'} Showing approved users only.
  %br
  %br 
.form-horizontal
  %table#user_stream_table.table.table-hover
    %thead
      %tr
        %th Id
        %th
        %th Employee Name
        %th Email
        %th Mobile No
        - if can? :edit, User
          %th Role
          %th Status
    %tbody
      %script#template{type: "text/html"}
        %tr
          {{#record}}
          - if can? :edit, User
            %td {{id}}
            %td
              %img.img-polaroid{src: "{{image}}"} 
            %td
              %a{href: "/users/{{record._slugs}}"}
                {{name}}
            %td {{email}}
            %td {{mobile_number}}
            %td {{role}}
            {{#is_approved}}
            %td
              .label{class: 'label-success'} {{status}}
            {{/is_approved}}
            {{^is_approved}}
            %td
              .label{class: 'label-warning'} {{status}}
            {{/is_approved}}
            {{#is_slug}}  
            %td 
              %a{href: "/users/{{record._slugs}}/public_profile", class: "icon-edit", data: {'no-turbolink' =>  true}}
            {{/is_slug}}
            {{^is_slug}}
            %td
              %a{href: "/users/{{record._id.$oid}}/public_profile", class: "icon-edit", data: {'no-turbolink' =>  true}}
            {{/is_slug}}
          - else  
            %td {{id}}
            %td
              %img.img-polaroid{src: "{{image}}"}
            %td
              %a{href: "/users/{{record._slugs}}"}
                {{name}}
            %td {{email}}
            %td {{mobile_number}}
          {{/record}}
        

:css
  .table td{ vertical-align: middle; }

:coffeescript
  @data = #{@users.to_json}
  $('tr[hidden]').attr("hide", "true")

  @approved = data.filter((d) ->
    d.status == "approved"
  )
  $('#show').click ->
    if $(this).text() == 'Show All'
      $(this).text('Show Approved')
      $('tr[hide]').removeAttr('hidden')
      $('#show_text').text('Showing all users.')
      st = $("#user_stream_table").data('st')
      st.data = []
      st.addData(data);
    else
      $(this).text('Show All')
      $('tr[hide]').attr('hidden', 'true')
      $('#show_text').text('Showing approved users only.')
      st = $("#user_stream_table").data('st')
      st.data = []
      st.addData(approved)

  $('#downloadbton').click (event) ->
    if $('#show').text() == 'Show All'
      window.location.href = '/users.xlsx' 
    else
      window.location.href = '/users.xlsx'+'?'+ 'status=all'
    return


  