= render 'profile'
.projects
  - unless @projects.empty?
    =render partial: 'project', collection: @projects
  - unless @managed_projects.empty?
    =render partial: 'managed_project', collection: @managed_projects
- unless @user.role.eql?('Admin')
  .bonusly-updates.common-bonusly-updates
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#github"} Github
      /%li
      /%a{"data-toggle" => "tab", :href => "#bonus-received"} Bonus Received
      /%li
      /%a{"data-toggle" => "tab", :href => "#bonus-given"} Bonus Given
      %li
        %a{"data-toggle" => "tab", :href => "#blog"} Blog

    .tab-content
      .tab-pane.active#github
        Loading ..
      /.tab-pane#bonus-received
      /Loading ..
      /.tab-pane#bonus-given
      /Loading ..
      .tab-pane#blog
        Loading ..

:coffeescript
  user_id = "#{@user.id}"
  $.get("/users/" + user_id + "/get_feed/github.js", ()->
  ).done( ->
  ).fail ->
   alert("Some error occurred while fetching github feed")
   $("#github").html("")
  $.get("/users/" + user_id + "/get_feed/blog.js", ()->
  ).done( ->
  ).fail ->
   alert("Some error occurred while fetching blog feed")
   $("#blog").html("")


