= render 'profile'
- unless @projects.empty?
  .projects
    %table.table
      = render partial: 'project', collection: @projects
- unless @user.role.eql?('Admin')
  .bonusly-updates.common-bonusly-updates
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#github"} Github
      %li
        %a{"data-toggle" => "tab", :href => "#bonus-received"} Bonus Received
      %li
        %a{"data-toggle" => "tab", :href => "#bonus-given"} Bonus Given
      %li
        %a{"data-toggle" => "tab", :href => "#blog"} Blog

    .tab-content
      .tab-pane.active#github
        Loading ..
      .tab-pane#bonus-received
        Loading ..
      .tab-pane#bonus-given
        Loading ..
      .tab-pane#blog
        Loading ..

:javascript
  var user_id = "#{@user.id}";