%h2
  Articles
- if can? :manage, Article
  = link_to "Add Article", new_article_path
.form-horizontal
  - unless @articles.empty?
    %table.table.table-hover
      %thead
        %th Article Title
        %th.pull-right Manage
      %tbody
        - @articles.each do |article|
          %tr
            - if article.is_published or (can? :manage, Attachment) 
              = render partial: 'article_row', locals: {article: article}
  - else
    %h4
      = "No articles found"
:css 
  .table td{ border-top: 1px solid white; padding: 0px;}
