%div.tabbable
  %ul.nav.nav-tabs
    %li.active.document-tab
      %a{data: {toggle: 'tab'}, href: "#document"}
        Document
    %li.article-tab
      %a{data: {toggle: "tab"}, href: "#article"}
        Article

  .tab-content
    .tab-pane.active#document
      = render partial: 'document'

    .tab-pane#article
      = render partial: 'article'
