%ul.nav.nav-tabs
  %li.active
    %a{data:{toggle: 'tab'}, href: '#project_form'}
      #{@project.persisted? ? 'Update' : 'Create'} Project
  %li
    %a{data:{toggle: "tab"}, href: '#project_info'}
      Add More Details
.project_tab_content.tab-content
  #project_form.tab-pane.fade.in.active
    = render 'projects/project_form'
  #project_info.tab-pane.fade
    = render 'projects/project_info_form'
    
