%table.table.table-hover
  %thead
    %tr
      %th Project Name
      %th No of employees
      %th URL
      %th Status
  %tbody
    - projects.each do |project|
      %tr
        %td= link_to project.name, project_path(project)
        %td= project.number_of_employees
        %td= link_to project.url
        %td
          .label{ "class": set_label(project.is_active) }
            = project.is_active
        %td
          - if can? :manage, Project
            =link_to '', edit_company_project_path(@company, project), class: "icon-edit", data: {'no-turbolink' =>  true}
            |
            =link_to '', company_project_path(@company, project), method: :delete, "data-confirm" => "Are you sure?", class: "icon-trash"
