.form-heading.row
  %h2
    .span3
      Company
    .offset7{style: "float: right;"}
      = render partial: "layouts/company_menu"

.form-horizontal
  %table.table.table-hover#company_stream_table
    %thead
      %tr
        %th #
        %th Company Name
        %th GST number
        %th Website
        %th Actions
    %tbody
      %script#company_template{:type => "text/html"}
        %tr
          {{#record}}
          %td
            {{index}}
          %td
            %a{href: "/companies/{{record._slugs}}" } {{name}}
          %td
            {{gstno}}
          %td
            {{website}}
          %td
            %a{href: "/companies/{{record._slugs}}/edit", class: "icon-edit", data: {'no-turbolink' =>  true}}
            %a{href: "/companies/{{record._slugs}}", "data-method" => :delete, "data-confirm" => "Are you sure?", class: "icon-trash"}
            %a{href: "/companies/{{record._slugs}}/projects/new"}
              Add New Project
          {{/record}}

:coffeescript
  @data = #{@companies.to_json(only: [:_slugs, :name, :gstno, :website])}
