---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/im.open
    body:
      encoding: US-ASCII
      string: token=abcd12 wert345 qsrt432&user=ABCD8F
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Router:
      - p
      X-Slack-Req-Id:
      - 51156f31-20cc-469b-ad1d-4e4bf6503ece
      X-Oauth-Scopes:
      - identify,bot:basic
      X-Accepted-Oauth-Scopes:
      - im:write,post
      X-Slack-Exp:
      - '1'
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-wyuf
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"no_op":true,"already_open":true,"channel":{"id":"ABCD123"}}'
  recorded_at: Wed, 03 Oct 2018 09:25:21 GMT
recorded_with: VCR 2.4.0
