%div#remaining_leave.modal.hide.fade{tabindex: "-1", role: 'dialog'}
  .modal-header
    %h3
      Available Leave
  .modal-body
    %table.table.table-striped
      %tbody
        %tr
          %td{width: "45%"}
            = image_tag(asset_url("casual_leave.jpg"), class: "leave-icon")
            Available Leaves
          %td{width: "55%"}
            = available_leave
  .modal-footer
    %a{class: 'btn', data:{dismiss: "modal"}} 
      Close 
