.form-heading
  %h2
    Edit Leave
  %h4
    = "Available leaves: #{@available_leaves}"

= simple_form_for @leave_application, url: leave_application_path(@leave_application.id) , html:{class: 'form-horizontal'} do|f|
  = render 'form', f: f
