// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.model-detail {
  border-bottom: 1px solid #dddddd;
  padding-bottom:10px;
}