// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.leave-icon{
  max-width: 30px;
  max-height: 30px;
}
.make-switch {
  height: 29px;
  margin-left: 18px;
  margin-bottom: 10px;
}

.project-image{
  margin-left: 211px;
}
#project-image{
  margin: 247px 0 202px 211px;
}
#image-upload {
  margin: 290px 0 0 -200px;
}
.case_study_upload {
  margin-left: 24px;
  margin-bottom: 10px;
}
.upload {
  margin-top: -900px;
}


