// Place all the styles related to the TimeSheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#employee-timesheet{
  text-align: center;
  font-size: 1.1em;
}

.timesheet_report_form{
  padding-top: 20px;
}

.text-height{
  font-size: 1.1em
}

.export-report-text-from-date{
  margin-left: 40px;
}

.export-report-text-to-date{
  margin-left: 57px;
}

.export-report-text-to-select{
  margin-left: 66px;
}

.row-padding{
  padding: 15px;
}

.btn-padding{
  margin-left: 92px;
  margin-top: 10px;
}

.form-position{
  margin-left: 60px;
}

.timesheet-menu{
  right: 191px !important;
}
.menu-font{
  font-size: 15px;
}
