// Place all the styles related to the TimeSheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#employee-timesheet{
  text-align: center;
  font-size: 1.1em;
}

.timesheet_report_form{
  padding-top: 20px;
}

.text-height{
  font-size: 1.1em;
}

.display-center{
  margin-left: 228px;
}

