// Place all the styles related to the TimeSheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#employee-timesheet{
  text-align: center;
  font-size: 1.1em;
}

.timesheet_report_form{
  padding-top: 20px;
}

.text-height{
  font-size: 1.1em
}

.export-report-text-from-date{
  margin-left: 40px;
}

.export-report-text-to-date{
  margin-left: 57px;
}

.export-report-text-to-select{
  margin-left: 66px;
}

.row-padding{
  padding: 15px;
}

.btn-padding{
  margin-left: 92px;
  margin-top: 10px;
}

.form-position{
  margin-left: 60px;
}

.timesheet-menu{
  right: 191px !important;
}
.menu-font{
  font-size: 15px;
}

.display-center{
  margin-left: 228px;
}

.edit-timesheet{
  background-color: #fff;
  padding: 2.5em;
  border-radius: 0.7em;
}

.edit-timesheet-input{
  width: 9.5em;
  height: 1.9em !important;
}

.edit-timesheet-update{
  margin-left: auto;
  display: block;
  margin-right: 39em;
  font-size: 1.1em
}

.add-timesheet-icon{
  font-size: 36px;
}

.add-timesheet .fields{
  display: -webkit-inline-box !important;
  border-bottom: solid 0.02px #EEEEEE;
  margin: 10px
}

ul#menu li {
    display:inline;
    font-size: medium;
    font-weight: bold;
}

.add-timesheet-date-li{
  margin-left: 12em;
}

.add-timesheet-from-time-li{
  margin-left: 9em;
}

.add-timesheet-to-time-li{
  margin-left: 2.6em;
}

.add-timesheet-descripton-li{
  margin-left: 3.9em;
}

.add-timesheet-project{
  margin-left: 2em;
}
.add-timesheet-date{
  margin-left: 4em;
}

.add-timesheet-from-time{
  margin-left: 4em;
}
.add-timesheet-to-time{
  margin-left: 4em;
}

.add-timesheet-description-text{
  margin-left: 4em;
}

.line-befor-menu{
  margin: 2px !important;
}

.line-after-menu{
  margin: 6px !important;
}

.add-new-timesheet{
  margin-left: 30em;
}